body {
    background: #5a5aaf;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #container {
    width: 70%;
    margin: 0 auto;
    border: none
  }
  
  header {
    background: #7e6363;
    height: 100px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: 100px;
  
  
  }
  
  #content {
    float: left;
  }
  
  
  .cuerpo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 350px;
  }
  
  footer{
    background-color: #8d4444;
    color: #fff;
    height: 50px;
    line-height: 50px;
  }
  
  .clearfix {
    clear: both;
  
  
  }
  
  .container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #aba9c1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    #message {
      margin-bottom: 10px;
    }
  
    label {
      display: block;
      margin-bottom: 1px;
      font-weight: bold;
    }
  
    textarea {
      width: 100%;
      height: 100px;
      padding: 10px;
      border: 1px solid #4b4375;
      border-radius: 4px;
      box-sizing: border-box
    }
  
    #counter {
      display: block;
      text-align: right;
      margin-top: 5px;
      color: #666;
    }
  
    input[type="number"] {
      width: 100%;
      padding: 10px;
      border: 1px soliid #463e39;
      border-radius: 4px;
      box-sizing: border-box;
    }
  
    button {
      background-color: #3d0a30;
      border: none;
      padding: 10px;
      border-radius: 4px;
      cursor: 16px;
      margin-right: 10px;
    }